@font-face {
    font-family: 'Nachlieli';
    src: url('/static/fonts/nachlieliclm-light-webfont.ttf');
}

@font-face {
    font-family: 'Nachlieli';
    font-weight: bold;
    src: url('/static/fonts/nachlieliclm-bold-webfont.ttf');
}

@font-face {
    font-family: 'OpenSansHebrew';
    font-weight: normal;
    src: url('/static/fonts/opensanshebrew-regular-webfont.ttf');
}

body {
    font-family: "Nachlieli", serif;
    direction: rtl;
    text-align: right;
}
.mapPopup {
    text-align: right;
    direction: rtl;
}

.hoverPopup {
    opacity: 90%;
}

.card {
    width: 350px;
    background: white;
    color: #2e2e2e;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.19);
    min-height: 10px;
    padding: 20px 30px;
}

.card-title {
    font-weight: normal;
}

.card-description {
    color: #8c8c8c;
    font-family: OpenSansHebrew, sans-serif;
}

.menu-bar {
    background-color: #2b2b2b;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}