<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="{{ url_for('static', filename='js/angular-relative-date.min.js') }}"></script>
    <link href='static/css/main.css' rel='stylesheet' />
    <title>מפת מסלולי חולי קורונה בישראל - Corona Tracker</title>

</head>
<body  ng-app="app" ng-controller="baseController" style="padding: 0; margin: 0">
    <div id='map' style='width: 100%; height: 100%; direction: ltr; text-align: left'></div>

    <div class="menu-bar" style="text-align: center; direction: ltr;"><div style="margin-top: 15px;">
        <div style="vertical-align: middle; font-size: 20px; margin-top: 15px; margin-left: 5px; padding-top: 2px; font-weight: bold; font-style: italic"><span style="background: white; color: black; padding-left: 5px; padding-right: 6px;">Corona</span> Tracker</div>

        <div style="width: fit-content;position: absolute; top: 15px; right: 10px; opacity: 70%; font-size: 14px;background: #00000061;border-radius: 5px;padding: 5px;">
            <a href="https://github.com/sdeniss/corona-tracker-il" style="color: white; text-decoration: none" target="_blank">
                <img src="/static/img/github.png" style="height: 20px; display: inline-block;vertical-align: bottom">
                <span ng-if="!is_mobile"> Fork me on GitHub</span></a></div>
    </div></div>

    <div style="position:fixed; right: 30px; top: 80px;" ng-show="!is_mobile">
        <div class="card">
            <h2 class="card-title">ניטור קורונה בזמן אמת</h2>
            <p class="card-description">ברוכים הבאים למערכת לניטור קורונה בזמן אמת.<br>
            כאן תוכלו להתעדכן בכל המקומות שבהם ביקרו נשאים, בהתאם להודעות משרד הבריאות.<br></p>
        </div>

        <div class="card" style="margin-top: 10px;">
            <h2 class="card-title">מקורות מידע</h2>
            <p class="card-description">אנחנו מנסים להביא את המידע הכי אמין ומדויק שאפשר. המקורות שלנו הם אתר והפייסבוק של משרד הבריאות, ועיתונים מובילים. לכן אנחנו מצרפים לינק עם מקור לכל נקודה במפה.<br> ובכל זאת, גם אנחנו עלולים לטעות. אם מצאתם טעות כזו אנא פנו אלינו בהקדם.</p>
        </div>
    </div>

    <div style="position:fixed; width: auto; right: 10px; left: 10px; bottom: 10px; padding-top: 25px;z-index: 9999999" ng-show="is_mobile" class="card">
        <h2 class="card-title" style="margin: 0">ניטור קורונה בזמן אמת</h2>
        <p class="card-description" style="font-size: 16px;">ברוכים הבאים למערכת לניטור קורונה בזמן אמת.<br>
        כאן תוכלו להתעדכן בכל המקומות שבהם ביקרו נשאים, בהתאם להודעות משרד הבריאות.<br>לחצו על נקודה כדי לראות עוד.</p>
    </div>

</body>
</html>